.card {
    background-color: dimgrey;
}

.gross-purchase {
    display: flex;
    justify-content: left;
}

.purchase-net{
    display: flex;
    justify-content: left;
}

.bottles-per-box{
    display: inherit;
    justify-content: right;
}

.boxes {
    display: inherit;
    justify-content: right;
}

.pallets {
    display: inherit;
    justify-content: right;
}