.listing-card {
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 5px solid black;
    margin: 1rem 1rem;
    border-radius: 9px;
    box-shadow: 5px 5px 5px #00000052;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
    font-style: italic;
}