@media screen {
    .all {
        display: none;
    }

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    max-width: 25%;
    height: auto;
}

.order-id{
    display: flex;
    justify-content: right;
    padding-top: 200px;
}

.table {
    flex-direction: row;
    justify-content: left;
    padding-top: 50px;
}

.singing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 200px;
}

.bar-name {
    padding-top: 50px;
}
